<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.test.junior.mapper.RoleMapper">

    <select id="findAll" resultMap="roleResultMapper">
        SELECT *
        FROM role
    </select>

    <insert id="insert"
            parameterType="String"
            useGeneratedKeys="true"
            keyColumn="id">
        INSERT INTO role (name)
        VALUES (#{name})
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE
        FROM role
        WHERE id = #{id}
    </delete>

    <resultMap id="roleResultMapper" type="com.java.test.junior.model.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
</mapper>
