<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.test.junior.mapper.UserMapper">

    <select id="exists" parameterType="Long">
        SELECT EXISTS
            (SELECT 1
            FROM "user"
            WHERE id = #{id});
    </select>

    <select id="findById" parameterType="Long" resultMap="userResultMapper">
        SELECT *
        FROM "user"
        WHERE id = #{id}
    </select>

    <select id="findByEmail" parameterType="String" resultMap="userResultMapper">
        SELECT *
        FROM "user"
        WHERE email = #{email}
    </select>

    <select id="getPage" parameterType="map" resultMap="userResultMapper">
        SELECT *
        FROM "user"
        ORDER BY id
            LIMIT #{size}
        OFFSET (#{page} - 1) * #{size}
    </select>

    <insert id="insert"
            parameterType="com.java.test.junior.model.User.UserDTO"
            useGeneratedKeys="true"
            keyColumn="id">
        INSERT INTO "user" (email, username, password)
        VALUES (#{email}, #{username}, #{password})
    </insert>

    <update id="update" parameterType="map">
        UPDATE "user"
        SET email      = #{user.email},
            username   = #{user.username},
            password   = #{user.password},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <update id="delete" parameterType="Long">
        UPDATE "user"
        SET deleted    = true,
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <resultMap id="userResultMapper" type="com.java.test.junior.model.User.User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

</mapper>
